{% extends 'layout.html' %}
{% block content %}

<div class="container">
        <ul class="mr-auto">
            <li class="nav-item">
                <a href="{{ url_for('admin.dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('admin.user_management') }}">User Management</a>
            </li>
        </ul>
        <ul class="ml-auto">
            <li>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
        </ul>
</div>

{% endblock %}
