<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <div class="container text-center">
        Made with <i class="bi bi-heart-fill"></i> by Murat Ambarkutuk
        <span class="btn-group">
            <a href="https://murat.ambarkutuk.com" class="btn btn-outline-secondary" target="_blank">
                <i class="bi bi-bookmark-fill"></i>
            </a>
            <a href="https://github.com/eroniki" class="btn btn-outline-secondary" target="_blank">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/muratambarkutuk" class="btn btn-outline-secondary" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
        </span>

        <i class="bi bi-building"></i> Virginia Tech, Blacksburg, VA
    </div>
</footer>
<!-- Footer -->
