{% extends "layout.html" %}
{% block content %}

{# {% if current_user.is_authenticated %} #}
<script>
    $(document).ready(function () {
        var logs = document.getElementById("logs");
        (function update_logs() {
            fetch('{{ url_for("system.log") }}')
                .then(response => {
                    response.text().then(t => { logs.innerHTML = t })
                }).then(function () {           // on completion, restart
                    setTimeout(update_logs, 200);  // function refers to itself
                });
        })();
    });
</script>

<div class="card">
    <h5 class="card-header">System Logs</h5>
    <div class="card-body">
        <h5 class="card-title">Latest events:</h5>
        <span class="card-text" id="logs"></span>
    </div>
</div>
{# {% else %}
<form id="login_form" action='{{ url_for( "login" ) }}' method='POST'>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" autocomplete="on">
    </div>
    <input type="submit" id="submit_login" name="submit_login" class="btn btn-primary" value="Submit">
</form>
{% endif %} #}


{% endblock %}
