<html>
  <head>
    <title>BUILD DAQ CONTROL SYSTEM</title>
  </head>
  <body>
    <h1>Control Panel:</h1>



    <form action="/status/CEARS" method="post" target="_blank">
      <button type="submit">Status CEARS</button>
    </form>

    <form action="/status/computer_lab" method="post" target="_blank">
      <button type="submit">Status Computer Lab</button>
    </form>


    <form action="/status" method="post" target="_blank">
      <button type="submit">Status All Cameras</button>
    </form>

    <hr/>

    <form action="/video/computer_lab" method="post" target="_blank">
      <button type="submit">Start Computer Lab</button>
    </form>
    <hr/>
    <form action="/video/CEARS" method="post" target="_blank">
      <button type="submit">Start CEARS</button>
    </form>
    <hr />
    <form id="pose" action="/check_dataset" method="get" target="_blank">
      Experiment ID: <input type="text" id="exp_id" name="exp_id"> <br />
      <button type="submit" id="pose_button">Check Dataset</button>
    </form>

<p></p>
</form>
  </body>
</html>
