<html>
  <head>
    <title>BUILD DAQ CONTROL SYSTEM</title>
  </head>
  <body>
    <h1>Control Panel:</h1>



    <form action="/status_rooms/CEARS" method="post" target="_blank">
      <button type="submit">Status CEARS</button>
    </form>

    <form action="/status_rooms/computer_lab" method="post" target="_blank">
      <button type="submit">Status Computer Lab</button>
    </form>


    <form action="/status_rooms" method="post" target="_blank">
      <button type="submit">Status All Cameras</button>
    </form>

    <hr/>

    <form action="/video/computer_lab" method="post" target="_blank">
      <button type="submit">Start Computer Lab</button>
    </form>

    <hr/>

    <form action="/video/CEARS" method="post" target="_blank">
      <button type="submit">Start CEARS</button>
    </form>

    <hr/>

    <form id="list_experiments" action="/list_experiments" method="get" target="_blank">
      <button type="submit" id="list_experiments_button">List Experiments</button>
    </form>

<p></p>
</form>
  </body>
</html>
